@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  padding: 50px 0;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}